In [55]:
import numpy as np
import pandas as pd
import math
import sys,os

In [56]:
csv_dir = "distribution_csv"
if not os.path.exists(csv_dir):
    os.makedirs(csv_dir)

In [57]:
one_power_2 = np.load("Polynomials_Saved_Datasets/1_power_2_500_to_4000.npz")
for i in one_power_2:
    print(i)

inverse
distri
distriMod2

In [58]:
inverse = one_power_2["inverse"]
inverse

distri = one_power_2["distri"]
distri

distriMod2 = one_power_2["distriMod2"]
distriMod2

array([[  370,   378,   369,   379,   363,   376,   375,   365,   367,
          381,   360,   371,   372,   375],
       [ 1320,  1324,  1329,  1332,  1305,  1311,  1334,  1311,  1307,
         1325,  1308,  1316,  1347,  1321],
       [ 2773,  2808,  2795,  2798,  2782,  2785,  2785,  2756,  2750,
         2796,  2782,  2796,  2790,  2773],
       [ 4708,  4749,  4754,  4740,  4720,  4766,  4724,  4700,  4738,
         4754,  4734,  4765,  4717,  4743],
       [ 7151,  7201,  7154,  7124,  7154,  7220,  7150,  7094,  7206,
         7184,  7169,  7154,  7129,  7187],
       [10031, 10092, 10053, 10036, 10085, 10115, 10036,  9935, 10081,
        10037, 10075, 10074,  9990, 10085],
       [13403, 13453, 13375, 13392, 13399, 13407, 13379, 13235, 13457,
        13391, 13429, 13378, 13360, 13420],
       [17199, 17162, 17134, 17199, 17184, 17180, 17167, 17047, 17224,
        17166, 17216, 17174, 17144, 17189]])

In [37]:
x= list(distri[0])

In [77]:
x_l = distri.tolist()

In [62]:
for i in range(len(x_l)):
    x_l[i]= str(x_l[i])

In [72]:
x_l

['[735, 745, 750, 739, 734, 748, 750]',
 '[2631, 2631, 2654, 2640, 2621, 2658, 2655]',
 '[5529, 5558, 5591, 5580, 5578, 5575, 5558]',
 '[9408, 9487, 9508, 9474, 9485, 9483, 9467]',
 '[14245, 14407, 14338, 14293, 14308, 14349, 14337]',
 '[19966, 20173, 20090, 20111, 20159, 20105, 20121]',
 '[26638, 26910, 26766, 26821, 26777, 26767, 26799]',
 '[34246, 34386, 34300, 34415, 34358, 34324, 34356]']

In [84]:
type(x_l[0])

list

In [92]:
max_min

[1.021798365122616,
 1.014116749332316,
 1.0112136010128414,
 1.0106292517006803,
 1.0113724113724114,
 1.010367624962436,
 1.01021097680006,
 1.0049348829060327]

In [67]:
inverse

array([1004, 2028, 3094, 4229, 5464, 6842, 8424])

In [70]:
df = pd.DataFrame(
{"N": range(500,4500, 500),
 "Distribution": str(inverse)
})
df

      N                          Distribution
0   500  [1004 2028 3094 4229 5464 6842 8424]
1  1000  [1004 2028 3094 4229 5464 6842 8424]
2  1500  [1004 2028 3094 4229 5464 6842 8424]
3  2000  [1004 2028 3094 4229 5464 6842 8424]
4  2500  [1004 2028 3094 4229 5464 6842 8424]
5  3000  [1004 2028 3094 4229 5464 6842 8424]
6  3500  [1004 2028 3094 4229 5464 6842 8424]
7  4000  [1004 2028 3094 4229 5464 6842 8424]

In [3]:
def deviation(dist_list):
    return max(dist_list)/min(dist_list)

In [11]:
def max_min(arr):
    mx_mi = list()
    for i in range(0,len(arr)):
        mx_mi.append(deviation(arr[i]))
    return mx_mi

In [74]:
def make_df(arrays):
    inverse = arrays["inverse"].tolist()
    distri = arrays["distri"].tolist()
    distriMod2 = arrays["distriMod2"].tolist()
    max_min_sta = max_min(distri)
    max_min_sta_mod2 = max_min(distriMod2)
    return  pd.DataFrame(
        { "Polynomials": str(arr[:-15]),
        "Inverse Distribution": str(inverse),
         "N": range(500,(len(distri)*500)+500, 500),
         "Distribution": distri,
         "Max/Min": max_min_sta,
         "Distribution Modulo 2": distriMod2,
         "Max/Min Mod2": max_min_sta_mod2
        })

In [75]:
make_df(np.load("Polynomials_Saved_Datasets/1_power_2_500_to_4000.npz"))

,Polynomials,Inverse Distribution,N,Distribution,Max/Min,Distribution Modulo 2,Max/Min Mod2
0,1_power_2_,"[1004, 2028, 3094, 4229, 5464, 6842, 8424]",500,"[735, 745, 750, 739, 734, 748, 750]",1.021798,"[370, 378, 369, 379, 363, 376, 375, 365, 367, ...",1.058333
1,1_power_2_,"[1004, 2028, 3094, 4229, 5464, 6842, 8424]",1000,"[2631, 2631, 2654, 2640, 2621, 2658, 2655]",1.014117,"[1320, 1324, 1329, 1332, 1305, 1311, 1334, 131...",1.032184
2,1_power_2_,"[1004, 2028, 3094, 4229, 5464, 6842, 8424]",1500,"[5529, 5558, 5591, 5580, 5578, 5575, 5558]",1.011214,"[2773, 2808, 2795, 2798, 2782, 2785, 2785, 275...",1.021091
3,1_power_2_,"[1004, 2028, 3094, 4229, 5464, 6842, 8424]",2000,"[9408, 9487, 9508, 9474, 9485, 9483, 9467]",1.010629,"[4708, 4749, 4754, 4740, 4720, 4766, 4724, 470...",1.014043
4,1_power_2_,"[1004, 2028, 3094, 4229, 5464, 6842, 8424]",2500,"[14245, 14407, 14338, 14293, 14308, 14349, 14337]",1.011372,"[7151, 7201, 7154, 7124, 7154, 7220, 7150, 709...",1.017761
5,1_power_2_,"[1004, 2028, 3094, 4229, 5464, 6842, 8424]",3000,"[19966, 20173, 20090, 20111, 20159, 20105, 20121]",1.010368,"[10031, 10092, 10053, 10036, 10085, 10115, 100...",1.018118
6,1_power_2_,"[1004, 2028, 3094, 4229, 5464, 6842, 8424]",3500,"[26638, 26910, 26766, 26821, 26777, 26767, 26799]",1.010211,"[13403, 13453, 13375, 13392, 13399, 13407, 133...",1.016774
7,1_power_2_,"[1004, 2028, 3094, 4229, 5464, 6842, 8424]",4000,"[34246, 34386, 34300, 34415, 34358, 34324, 34356]",1.004935,"[17199, 17162, 17134, 17199, 17184, 17180, 171...",1.010383

In [77]:
df_list= []
dir = "Polynomials_Saved_Datasets/"
for arr in os.listdir(dir):
    if arr.endswith('.npz'):
        file_path = os.path.join(dir, arr)
        #print (str(file_path))
        make_df(np.load(str(file_path))).to_csv("distribution_csv/"+ arr[:-3]+".csv",index = False)

In [42]:
df_list[0].to_csv("test.csv", index=False)

In [37]:
df_list[0]

,N,Distribution,Max/Min,Distribution Modulo 2,Max/Min Mod2
0,500,"[735, 745, 750, 739, 734, 748, 750]",1.021798,"[370, 378, 369, 379, 363, 376, 375, 365, 367, ...",1.058333
1,1000,"[2631, 2631, 2654, 2640, 2621, 2658, 2655]",1.014117,"[1320, 1324, 1329, 1332, 1305, 1311, 1334, 131...",1.032184
2,1500,"[5529, 5558, 5591, 5580, 5578, 5575, 5558]",1.011214,"[2773, 2808, 2795, 2798, 2782, 2785, 2785, 275...",1.021091
3,2000,"[9408, 9487, 9508, 9474, 9485, 9483, 9467]",1.010629,"[4708, 4749, 4754, 4740, 4720, 4766, 4724, 470...",1.014043
4,2500,"[14245, 14407, 14338, 14293, 14308, 14349, 14337]",1.011372,"[7151, 7201, 7154, 7124, 7154, 7220, 7150, 709...",1.017761
5,3000,"[19966, 20173, 20090, 20111, 20159, 20105, 20121]",1.010368,"[10031, 10092, 10053, 10036, 10085, 10115, 100...",1.018118
6,3500,"[26638, 26910, 26766, 26821, 26777, 26767, 26799]",1.010211,"[13403, 13453, 13375, 13392, 13399, 13407, 133...",1.016774
7,4000,"[34246, 34386, 34300, 34415, 34358, 34324, 34356]",1.004935,"[17199, 17162, 17134, 17199, 17184, 17180, 171...",1.010383

In [111]:
df = make_df(np.load("Polynomials_Saved_Datasets/1_power_2_500_to_4000.npz"))

In [112]:
dflist = []
dflist.append(df)

In [116]:
dflist[0]

,N,Distribution,Max/Min,Distribution Modulo 2,Max/Min Mod2
0,500,"[735, 745, 750, 739, 734, 748, 750]",1.021798,"[370, 378, 369, 379, 363, 376, 375, 365, 367, ...",1.058333
1,1000,"[2631, 2631, 2654, 2640, 2621, 2658, 2655]",1.014117,"[1320, 1324, 1329, 1332, 1305, 1311, 1334, 131...",1.032184
2,1500,"[5529, 5558, 5591, 5580, 5578, 5575, 5558]",1.011214,"[2773, 2808, 2795, 2798, 2782, 2785, 2785, 275...",1.021091
3,2000,"[9408, 9487, 9508, 9474, 9485, 9483, 9467]",1.010629,"[4708, 4749, 4754, 4740, 4720, 4766, 4724, 470...",1.014043
4,2500,"[14245, 14407, 14338, 14293, 14308, 14349, 14337]",1.011372,"[7151, 7201, 7154, 7124, 7154, 7220, 7150, 709...",1.017761
5,3000,"[19966, 20173, 20090, 20111, 20159, 20105, 20121]",1.010368,"[10031, 10092, 10053, 10036, 10085, 10115, 100...",1.018118
6,3500,"[26638, 26910, 26766, 26821, 26777, 26767, 26799]",1.010211,"[13403, 13453, 13375, 13392, 13399, 13407, 133...",1.016774
7,4000,"[34246, 34386, 34300, 34415, 34358, 34324, 34356]",1.004935,"[17199, 17162, 17134, 17199, 17184, 17180, 171...",1.010383

In [94]:
df

      N                                       Distribution   Max/Min
0   500                [735, 745, 750, 739, 734, 748, 750]  1.021798
1  1000         [2631, 2631, 2654, 2640, 2621, 2658, 2655]  1.014117
2  1500         [5529, 5558, 5591, 5580, 5578, 5575, 5558]  1.011214
3  2000         [9408, 9487, 9508, 9474, 9485, 9483, 9467]  1.010629
4  2500  [14245, 14407, 14338, 14293, 14308, 14349, 14337]  1.011372
5  3000  [19966, 20173, 20090, 20111, 20159, 20105, 20121]  1.010368
6  3500  [26638, 26910, 26766, 26821, 26777, 26767, 26799]  1.010211
7  4000  [34246, 34386, 34300, 34415, 34358, 34324, 34356]  1.004935

AttributeError: module 'pandas' has no attribute 'guide'